<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Api Client!{% endblock %}</title>

    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/mspyraclient/js/client.js') }}"></script>

    {% endblock %}
</head>
<body>
<input id="api-host" type="text" placeholder="http://127.0.0.1:8000/api/items">
<br>
<h4>Search</h4>
<input id="search-name" type="text" placeholder="Name">
<input id="search-min-amount" type="number" placeholder="Min amount">
<input id="search-max-amount" type="number" placeholder="Max amount">
<input type="button"
       onclick="new Client(
               document.getElementById('api-host').value,
               document.getElementById('api-response')
               ).search(
                   document.getElementById('search-name').value,
                   document.getElementById('search-min-amount').value,
                   document.getElementById('search-max-amount').value
               )"
       value="Search">
<h4>Add / Edit / Delete</h4>
<input id="item-id" type="number" placeholder="id">
<input id="item-name" type="text" placeholder="name">
<input id="item-amount" type="number" placeholder="amount">
<input type="button"
       onclick="new Client(
           document.getElementById('api-host').value,
           document.getElementById('api-response')
           ).add(
               document.getElementById('item-name').value,
               document.getElementById('item-amount').value
           )"
       value="Add">
<input type="button"
       onclick="new Client(
           document.getElementById('api-host').value,
           document.getElementById('api-response')
           ).edit(
               document.getElementById('item-id').value,
               document.getElementById('item-name').value,
               document.getElementById('item-amount').value
           )"
       value="Edit">
<input type="button"
       onclick="new Client(
           document.getElementById('api-host').value,
           document.getElementById('api-response')
           ).delete(
               document.getElementById('item-id').value
           )"
       value="Delete">

<h3>Raw response</h3>
<span id="api-response"></span>
</body>
</html>
